

<div id="divBtVoltar">
<input type="button" id="btlista" name="idlista"  value=" voltar" onclick="voltarLista('comments')" />



</div>

<br>


<div class="divformInfo">


<form  id="idFormInfo" name="idFormInfo"  onsubmit="return insert_update_comment('insert')"  class="formInfo" action="/insertComm/" method="post">
		



	<fieldset>
		
		<legend>Cadastrar Comentários </legend>


  {if="$error!= '' "}
  	{if="$error== 'deu certo' "}
  			<div class="alert alert-success" role="alert">comentario cadastrado com sucesso!!!</div>
  	{else}
  			<div class="alert alert-danger" role="alert">{$error}</div>
  	{/if}		
 {else}
		 <div> </div>
 {/if}	
			

		
 		 <label for="content">Selecione um contéudo:</label>

				<select name="content" id="content"  style="width:100%;">
  			
					{loop="$contents"}
  				<option value="{$value.idcontent}">{$value.title}</option>
  				{/loop}
  				
				</select><br> 


			<label>Nome:</label>
			<input type="text" id="title" name="title"   maxlength="64" value="{$user.deslogin}(adm)"  hidden  >


			<label>Comentário:</label><br>
			<textarea id="content_text" name="content_text" maxlength="255"  ></textarea><br>



			<label>Status:</label><br>			
			<select name="status_comment" id="status_comment">
  				<option   value="aprovado">Aprovado</option>
  				<option   value="aguardando">Aguardando</option>
  				<option    value="reprovado" >Reprovado</option>
  
			</select>

			 

			
			




	</fieldset>

			


	
	<input id='btcadInfo' type="submit" value="Cadastrar">


</form>




