

<div id="divBtVoltar">
<input type="button" id="btlista" name="idlista"  value=" voltar" onclick="voltarLista('comments')" />



</div>

<br>


<div class="divformInfo">


<form  id="idFormInfo" name="idFormInfo"  onsubmit="return insert_update_comment('update')"  class="formInfo" action="/updateComm/{$comment.idcomment}" method="post">
		



	<fieldset>
		
		<legend>Alterar Comentários </legend>


  {if="$error!= '' "}
  	{if="$error== 'deu certo' "}
  			<div class="alert alert-success" role="alert">comentario alterado com sucesso!!!</div>
  	{else}
  			<div class="alert alert-danger" role="alert">{$error}</div>
  	{/if}		
 {else}
		 <div> </div>
 {/if}	
			

			<input type="text" hidden  id="idcomment" name="idcomment"  value="{$comment.idcomment}">

			<label>Nome::</label>
			<input type="text" id="title" name="title"  value="{$comment.name}" maxlength="64" disabled ><br>


			<label>Comentário:</label><br>
			<textarea id="content_text" name="content_text" maxlength="255" disabled >{$comment.comment}</textarea><br>



			<label>Status:</label><br>			
			<select name="status_comment" id="status_comment">
  				<option  {if="$comment.status_comment == 'aprovado' "} selected {/else} {/if} value="aprovado">Aprovado</option>
  				<option  {if="$comment.status_comment == 'aguardando' "} selected {/else} {/if} value="aguardando">Aguardando</option>
  				<option  {if="$comment.status_comment == 'reprovado' "} selected {/else} {/if}  value="reprovado" >Reprovado</option>
  
			</select>

			 

			
			<input type="text" hidden  id="idcontent" name="idcontent" value="{$comment.idcontent}">




	</fieldset>




<fieldset>
		
		<legend>Respostas desse comentário </legend>

<div style="overflow-y: scroll;height:200px;">
<table style="border: 1px solid black;background:white;width:100%;">
  <thead >
    <tr>
      <th style="border: 1px solid black" >Nome</th>
      <th style="border: 1px solid black">Resposta</th>
      <th style="border: 1px solid black">Status</th>
    </tr>
  </thead>		
  <tbody>
    
  </tbody>
</table>
</div>


</fieldset>		

			


	
	<input id='btcadInfo' type="submit" value="Alterar">
		<input id='btcadResp'  type="button"  name='btcadResp' onclick="showModalResponse()"  value="Responder"> 

	 <dialog style="border:none; border-radius: .5rem;box-shadow: 0 0 1em rgb(0 0 0 /.3);width:300px" hidden>

	 
	 		<label>Responda aqui esse comentário:</label><br>
	 		<input type="text" id="input_response" name="input_response" style="width: 100%"  ><br>

	 		<label>Status:</label>			
			<select name="sts_comm" id="sts_comm">
  				<option   value="aprovado">Aprovado</option>
  				<option   value="aguardando">Aguardando</option>
  				<option    value="reprovado" >Reprovado</option>
  
			</select><br>


			<input id='btsaveResp'  type="button"  name='btsaveResp' onclick="save_response_dialog('{$user.deslogin}','{$comment.idcomment}',document.getElementById('input_response').value,document.getElementById('sts_comm').value)"  value="OK">
			<input id='btcloseResp'  type="button"  name='btcloseResp' onclick="closeModalResponse()"  value="Cancelar"> 	 	 	 	

	 </dialog> 
	


</form>




<script  src="../../res/jqueryAjax/responsesAdmJqueryAjax.js" ></script> 
