
  <footer  style=" border: 1px solid black;">
    <p><strong>Quem sou eu ...</strong></p>
    <div id="div_footer">




        
        <div id="div_img_footer" >
            <img src="../../res/img/icon_anonimous.png"  alt="not found"  width="100px" height="70px;" style="box-shadow: 3px 3px black;">
        </div>

        <div id="div_quem_sou_footer">
            <p><strong>Ana Célia Meires Fontes</strong></p>
            <p>Professora de Letras, estudante de Direito, blogueira nas horas livres!! Gosto de escrever, essa atividade me liberta e me relaxa dos problemas do cotidiano.</p>  
        </div>

        
    </div>
    <a href="/quem_sou">Perfil completo...</a>  

  </footer>




</body>
</html>